extends layout

block content
  h1 Create a new chat room!

  form(method="post")
    fieldset.form-group
      label(for="Name") Name:
      input.form-control(name="name" type="text" placeholder="Enter a name")
      small.text-muted Give your chat room a meaningful name
    button.btn.btn-primary(type="submit") Add new chat room
    a.btn.btn-warning(href="/admin/rooms") Cancel


